#testimonials {
    margin-top: 6rem;
    padding-bottom: 1rem;
    width: $container-lg;
    margin-bottom: 11rem;

    .testimonials__heading {
        width: 100%;
        justify-content: center;
        display: flex;

        &>h2 {
            width: 24rem;
            color: $heading-color;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 3.125rem;
            text-align: center;
        }
    }

    p {
        margin: 1.25rem auto 0;
    }


    .swiper-wrapper {
        margin-top: 3.75rem;
        margin-bottom: 4.5rem;
        

        .swiper-slide {
            background: $white-color;
            padding: 1.8rem 1.8rem;
            border-radius: 0.625rem;
            border: 2px solid #DDD;
            cursor: default;
            font-size: 1rem;
            width: 25rem;
            height: 16rem;

            .user__header {
                display: flex;
                align-items: center;

                .user__avatar {
                    width: 3.125rem;
                    height: 3.125rem;
                }

                .user__details {
                    margin-left: 1.25rem;

                    &>h5 {
                        color: $heading-color;
                        font-size: 1.125rem;
                        font-weight: 500;
                        line-height: 1.875rem;
                    }

                    &>p {
                        font-size: 0.875rem;
                        font-weight: 400;
                        line-height: 1.875rem;
                    }
                }

                .user__rating {
                    margin-right: 0;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    &>p {
                        margin-top: 0;
                        color: $background-color;
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
            }

            .user__comment {
                &>p {
                    font-size: 1rem;
                    color: $heading-color;
                }
            }

            &:hover {
                border: 2px solid $primary-color;
                box-shadow: 0 2px 1rem 0 rgba(0, 0, 0, .15);
            }
        }
    }

    .swiper-pagination {
        text-align: left;
        gap: 0 1rem;

        &>span {
            font-size: 0;
            width: 0.8rem;
            height: 0.8rem;
            // background: $grey-color;
            border-radius: 100rem;
            transition: all 0.2s linear;
        }

        .swiper-pagination-bullet-active {
            background: $primary-color;
            width: 2.5rem;
        }
    }



    .swiper-button-next {
        background: $primary-color;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        top: var(--swiper-navigation-top-offset,93%);
        right: var(--swiper-navigation-sides-offset,0%);

        & > svg {
            width: 1.5rem;
            height: 1.5rem;
        }

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        background: $white-color;
        border : 1px solid $primary-color;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        top: var(--swiper-navigation-top-offset,93%);
        left: auto;
        right: var(--swiper-navigation-top-offset,6%);

        & > svg {
            width: 1.5rem;
            height: 1.5rem;
        }

        &::after {
            display: none;
        }
    }
}

/*============ Medium Devices ============*/
@media screen and (max-width: 1024px) {
    #testimonials {
        .swiper-button-prev {
            right: var(--swiper-navigation-top-offset,9%);
        }
    }
}       

/*============ Samll Devices ============*/
@media screen and (max-width: 767px) {
    #testimonials {
        margin-top: 1rem;
        .swiper-button-prev {
            display: none;
        }

        .swiper-button-next{
            display: none;
        }

        .swiper-wrapper {
            .swiper-slide {
                height: 22rem;
            }
        }
    }
}  